<h1> This company is about install Telecom Equipment of any comercial vendor. By Jose Anibal, Udemy Course</h1>

<!-- Esto me permite enrutar siempre al directorio raiz de mi pagina Solved by Jgomera-->
<%= link_to 'Home', root_path  %>
